html
  head
    meta(name='viewport', content='width=device-width')
    meta(property='og:title', content='Открытка РенТВ')
    meta(property='og:video', content='video.movie')
    meta(property='og:url', content=id)
    meta(property='og:image', content='http://lexxxbro.com/images/play.jpg')
  body
    video(controls='', autoplay='', name='media')
      source(src=id, type='video/mp4')
