html
  head
    meta(name='viewport', content='width=device-width')
    meta(property='og:title', content='Я создал тебе видео-открытку в сервисе от РенТВ, жми чтобы посмотреть!')
    meta(property='og:image', content='http://lexxxbro.com/images/play.png')
    meta(property='og:video', content='http://lexxxbro.com/videopostcard/e862ed74-cff7-4263-910b-be66b8344e56')
    meta(property='og:url', content=id)
    meta(property='og:type', content='video.movie')
    meta(property='og:description', content='Создай видеооткрытку в нашем сервисе и отправь другу!')
  body(style='background: #000000;')
    video(controls='', autoplay='', name='media', style='position:absolute;height:600px;width:600px;top:200px;left:50%;margin-left:-300px;')
      source(src=id, type='video/mp4')
    a(href='http://lexxxbro.com', style="position:absolute;z-index:99999;width:200px;height:50px;bottom:20px;left:50%;margin-left:-100px;border-radius:5px;color:#fff;font-size:22px;") Создать открытку!
